body{
    background-color: bisque;
}

.wrapper{
    margin-right: 5%;
    margin-left: 5%;
    position: static;
}

.wrapper h1{
    font-weight: bold;
}

.wrapper-bayan .title-bayan{
    color: blue;
}

.item-bayan{
    border-top: 0.1rem solid #e0dada;
    padding-bottom: 1rem;
    position: static;
}

.item-bayan:active{
    opacity: 50%;
    background-color: rgba(255,228,196,0.5);
}

.item-bayan:active .title-bayan{
    color: blue;
}

.title-bayan{
    font-size: 1.7rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.img-bayan{
    display: none;
    text-align: center;
    padding-top: 1rem;
    max-width: 100%;
    margin: 0 auto;
}

.input-bayan{
    width: 0;
    height: 0;
}


.input-bayan:checked ~ label{
    color: black;
}

/*rotate and fixed svg icon*/
.input-bayan:checked ~ label>.icon-svg{
    transform: rotate(90deg);
}

.input-bayan:checked ~ label>.img-bayan{
    display: block;
}

/*svg-icon*/
.icon-svg{
    width:1rem;
    opacity: 0;
}

/* Media mobile first */

@media screen and (min-width: 320px) {

    .wrapper{
        margin-right: 10%;
        margin-left: 10%;
        position: static;
    }

    .title-bayan{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 820px) {

    .wrapper{
        margin-right: 15%;
        margin-left: 15%;
        position: static;
    }

    .wrapper h1{
        font-size: 2.5rem;
    }

    .title-bayan{
        font-size: 1.7rem;
    }

}

@media screen and (min-width: 1180px) {

    .wrapper{
        margin-right: 20%;
        margin-left: 20%;
        position: static;
    }

    .wrapper h1{
        font-size: 4rem;
    }

    .title-bayan{
        font-size: 2.7rem;
    }

    .icon-svg{
        width:2rem;
        opacity: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .item-bayan:hover{
        color: black;
    }

    .item-bayan{
        cursor: pointer;
    }

    .item-bayan:hover .img-bayan{
        display: block;
    }

    .wrapper-bayan:hover .icon-svg{
        opacity: 100%;
    }

    .input-bayan:hover ~ label {
        color: black;
    }

    /*rotate svg icon*/
    .item-bayan:hover .icon-svg{
        opacity: 100%;
        transform: rotate(90deg);
        transition: 0.5s ease-out;
    }

}